<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.photo.dao.FriendDao">

	<select id="selectFriendList" resultType="com.photo.entity.Friend" parameterType="map">
		select * from Friend where 1 = 1

		<if test="map.key != null and map.key != '' ">
			<bind name="name" value="'%' + map.key + '%'"/>
			and phone like #{name}
		</if>


		<if test="map.uid != null and map.uid != '' ">
			and uid = #{map.uid} or mid = #{map.uid}
		</if>

		order by id desc

	</select>
	<select id="selectAllFriend"  resultType="com.photo.entity.Friend">
		select * from Friend
	</select>

		<select id="selectByMidAndUid" resultType="com.photo.entity.Friend"  >
		select * from Friend where uid = #{id} and mid = #{mid} and state = '1'
	</select>

		<select id="selectByUidAndMid" resultType="com.photo.entity.Friend"  >
		select * from Friend where mid = #{id} and uid = #{mid} and state = '1'
	</select>




	   <insert id="addFriend" parameterType="com.photo.entity.Friend" >
	    insert into Friend (phone,content,uid,create_time,mid)
	    values (#{Friend.phone},#{Friend.content},#{Friend.uid},#{Friend.create_time},#{Friend.mid})
   </insert>

	<delete id="deleteFriend" parameterType="java.lang.Integer">
	    delete from Friend
	    where id = #{id}
	  </delete>

	<select id="selectFriendById" parameterType="java.lang.Integer" resultType="com.photo.entity.Friend">
     select * from Friend where id = #{id}
    </select>
	
        <update id="updateFriend" parameterType="com.photo.entity.Friend">
      update Friend set 
        state = #{Friend.state}
        where id = #{Friend.id}
     </update>

</mapper>